.env
.env.local
*.zip
*.tar.gz
*.sqlite3
db.sqlite3
*.class
*.jar
*.war
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
__pycache__/
*.py[cod]
*.pyo
.vscode/
.idea/
*.iml
*.log
*.sublime-workspace
.swp
.swp
*.doc
*.docx
*.dot
*.pdf
*.ps
*.eps
*.xls
*.xlsx
*.csv
*.ppt
*.pptx
*.pps
